<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./nav/nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script src="./style/vendors/bootstrap-5.1.1/dist/js/bootstrap.bundle.js"></script>
    <title>Document</title>
    <style>
      /* * {
        outline: 1px blue solid;
      }  */

      /*線框*/
      .ball {
        margin-top: 80px;
        background-color: rgba(#c4d4dc, 0.5);
        border-radius: 30px;
        border: 2px solid #fff;
        backdrop-filter: blur(60px); /*圓角設置 背景物化*/
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cat {
        width: auto;
        background-image: url(../nav/img/img/cloud1.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        backdrop-filter: blur(10px);

        /* opacity: 0.5; */
      }
    </style>
  </head>

  <body>
    <!-- NAV BAR -->
    <div w3-include-HTML="./nav/nav.html"></div>
    <!-- NAV BAR -->

    <div class="cat">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
        style="height: 50vh"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner" style="height: 50vh">
          <div class="carousel-item active">
            <img
              src="./img/han/han2/<%= data1[0].spotId %>-1.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <div class="carousel-item">
            <img
              src="./img/han/han2/<%= data1[0].spotId %>-2.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <div class="carousel-item">
            <img
              src="./img/han/han2/<%= data1[0].spotId %>-3.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container navDistance">
        <div
          class="row"
          style="padding-left: 1vh; font-size: 15pt; margin-top: 5px"
        >
          <div class="col" style="text-align: center">
            <img
              src="./img/han/<%= data1[0].spotId %>.jpg"
              width="300px"
              height="200px"
            />
          </div>

          <div class="col">
            <strong>
              <p>活動名稱：<%= data1[0].tripName %></p>
              <p>活動地點：<%= data1[0].spotName %></p>
              <P
                >日　　期：<%=
                moment(data1[0].tripStartDate).format("yy/MM/DD")%> ~<%=
                moment(data1[0].tripEndDate).format("yy/MM/DD")%></P
              >
            </strong>
          </div>
          <div class="col" style="padding-left: 20vh">
            <strong>
              <P>姓名：<%= data1[0].userName %></P>
              <p>手機：<%= data1[0].userPhone %></p>
              <p>Email：<%= data1[0].userEmail %></p>
            </strong>

            <% if ( locals.data6[0]) { %> <% if( data6[0].positionState == 0){%>
            <p style="color: blue; font-weight: bold">申請中</p>
            <% }else if(data6[0].positionState == 2){ %>
            <p style="color: rgb(255, 0, 0); font-weight: bold">發起人</p>
            <% } %> <% }else{ %>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              style="
                border-radius: 20px;
                background-color: #0c3c74;
                margin-left: 20vh;
              "
            >
              報名行程
            </button>
            <%} %>

            <!-- Modal -->
          </div>
        </div>

        <div class="ball">
          <div class="row" style="margin-top: 100px; margin-bottom: 100px">
            <div class="col" style="text-align: center">
              <h1>行程表</h1>
              <hr />
            </div>
            <div class="col" style="text-align: center">
              <h1>必帶私人裝備</h1>
              <hr />
            </div>
            <div class="row">
              <div class="col-6" style="line-height: 40px; text-align: center">
                <div class="row">
                  <div class="col-6">
                    <% data2.forEach(element2 =>{ %>
                    <p style="padding-right: 60px">Day <%= element2.day %> ▼</p>
                    <% data3.forEach(element3 =>{ %> <% if( element2.day ==
                    element3.day ) {%>
                    <p>　<%= element3.startTime %></p>
                    <% } else{ %> <% } %> <% }) %> <% }) %>
                  </div>
                  <div class="col-6">
                    <% data2.forEach(element2 =>{ %>
                    <p style="padding-right: 60px;" >　</p>
                    <% data3.forEach(element3 =>{ %> <% if( element2.day ==
                    element3.day ) {%>
                    <p>　<%= element3.activity %></p>
                    <% } else{ %> <% } %> <% }) %> <% }) %>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="col" style="margin-top: 50px; text-align: center">
                  <div class="row">
                    <div class="col">
                      <% data4.forEach(element4=>{%>
                      <p><%= element4.privateItem %></p>
                      <%})%>
                    </div>
                    <div class="col">
                      <% data4.forEach(element4=>{%>
                      <p><%= element4.itemCount %> / 個</p>
                      <%})%>
                    </div>
                  </div>

                  <div
                    class="col"
                    style="margin-top: 200px; text-align: center"
                  >
                    <h1>已有公共裝備</h1>
                    <hr />
                    <div class="row">
                      <div class="col">
                        <% data5.forEach(element5=>{%>
                        <p><%= element5.sharedItem %></p>
                        <%})%>
                      </div>
                      <div class="col">
                        <% data5.forEach(element5=>{%>
                        <p><%= element5.itemCount %></p>
                        <%})%>
                      </div>
                    </div>
                  </div>

                  <div
                    class="col"
                    style="margin-top: 200px; text-align: center"
                  >
                    <h1>注意事項</h1>
                    <hr />

                    <div class="row">
                      <div class="col">
                        <p>NO1.</p>
                        <p>NO2.</p>
                        <p>NO3.</p>
                        <p>NO4.</p>
                        <p>NO5.</p>
                        <p>NO6.</p>
                        <p>No7.</p>
                      </div>
                      <div class="col">
                        <p>登山隊伍不可拉太長</p>
                        <p>隨時注意隊友狀況</p>
                        <p>喝水時不可狂飲</p>
                        <p>否則汗量增加</p>
                        <p>更容易造成身體疲勞</p>
                        <p>不可忽快忽慢</p>
                        <p>勿自行攀登無人跡山路</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col">col</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div w3-include-HTML="./footer/footer.html" class="mt-5"></div>
    </div>
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container">
              <h5 class="modal-title" id="staticBackdropLabel">
                <p style="font-size: 25px"><strong>注意!!!</strong></p>
                <p style="font-size: 20px">申請前請先詳閱行程資訊</p>

                <P style="text-align: center; font-size: 15px"
                  >必　要　之　私　人　裝　備</P
                >
              </h5>

              <hr style="margin-top: -12px" />

              <div class="row" style="text-align: center">
                <div class="col">
                  <p>登山杖</p>
                  <p>雨　傘</p>
                  <p>繩　索</p>
                  <p>烤肉架</p>
                  <p>入營燈</p>
                </div>
                <div class="col">
                  <p>1/支</p>
                  <p>1/把</p>
                  <p>1/捆(30m)</p>
                  <p>2/個</p>
                  <p>1/盞</p>
                </div>
              </div>
            </div>

            <div class="form-check" style="margin-top: 30px">
              <input
                class="form-check-input"
                name="Checkbox[]"
                type="checkbox"
                value=""
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                同意傳送個人基本資料以便發起人審核
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              離開
            </button>
            <button
              type="button"
              id="button"
              class="btn btn-primary"
              onclick="aaaa('<%= data1[0].tripId %>')"
              style="background-color: #7ca4cb"
            >
              確認
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      w3.includeHTML();

      function aaaa(id) {
        location.href = `/tripSignup?id=${id}`;
      }
    </script>
    <script src="./nav/nav.js"></script>

    <script src="./22.js"></script>
    <script src="./333.js"></script>
    <!-- <script src="public\js\han\click.js"></script> -->
  </body>
</html>
