<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./nav/nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script src="./style/vendors/bootstrap-5.1.1/dist/js/bootstrap.bundle.js"></script>
    <title>Document</title>
    <style>
      /* * {
        outline: 1px blue solid;
      } */
      .egg {
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 6px;
        width: 250px;
      }

      .btn {
        margin-left: 100px;
        width: 200px;
        display: flex;
      }

    </style>
  </head>

  <body>
    <!-- NAV BAR -->
    <div w3-include-HTML="./nav/nav.html"></div>
    <!-- NAV BAR -->
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 40vh">
          <img src="./img/han/photo.jpg" class="d-block w-100" alt="..." />
          <!-- 圖片尺寸為3038*1008 -->
        </div>
      </div>
    </div>
    <!-- 123 -->
    <div class="container navDistance">
      <div class="row">
        <div class="col">
          <div class="btn-group" >
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuClickableOutside"
              data-bs-toggle="dropdown"
              data-bs-auto-close="inside"
              aria-expanded="false"
              style="border-radius: 20px ;background-color:#0C3C74 "
            >
              <span>　　目&emsp;&emsp;的&emsp;&emsp;地</span>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="dropdownMenuClickableOutside"
            >
              <li>
                <a class="dropdown-item" href="trips" style="font-weight: bold"
                  >全部</a
                >
              </li>
              <% data2.forEach(element => { %>
              <li>
                <a
                  class="dropdown-item"
                  href="tripsId?id=<%= element.spotId %>"
                >
                  <%= element.spotName %>
                </a>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="btn-group">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuClickableInside"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
              style="border-radius: 20px ;background-color:#0C3C74"
            >
              <span>　　天&emsp;&emsp;&emsp;數</span>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="dropdownMenuClickableInside"
            >
              <li>
                <a class="dropdown-item" href="trips" style="font-weight: bold"
                  >全部</a
                >

                <% data3.forEach(element => { %>
                <a class="dropdown-item" href="tripsDay?id=<%= element.Date %>">
                  <%= element.Date %> 天
                </a>
                <% }) %>
              </li>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="btn">
            <input
              type="date"
              value="2022-01-01"
              min="2022-01-01"
              max="2022-12-31"
              step="0"
              onchange="ABC()"
              id="dateDay"
            />
          </div>
        </div>
      </div>
    </div>

    <% data1.forEach(element => { %>

    <div class="card mb-3 mx-auto" style="max-width: 1080px; margin-top: 90px">
      <div class="row g-0">
        <div class="col-md-3" style="text-align: center">
          <img
            src="./img/han/<%= element.spotId %>.jpg"
            class="img-fluid rounded-start egg"
            alt="..."
          />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <p class="card-text">活動名稱: <%= element.tripName %></p>
                <p class="card-text">目的地: <%= element.spotName %></p>
                <p class="card-text">
                  日期:<%= moment(element.tripStartDate).format("yy/MM/DD")%>
                  ~<%= moment(element.tripEndDate).format("yy/MM/DD")%>
                </p>
                <button
                  class="btn btn-outline-secondary"
                  id="button-addon2 "
                  style="
                    width: 90px;
                    height: 30px;
                    border-radius: 999em;
                    margin-left: 700px;
                    visibility: hidden;
                  "
                ></button>
              </div>
              <div class="col-4">
                <p class="card-text">發起人: <%= element.userName %></p>
                <button
                  class="btn btn-outline-secondary"
                  style="width: 100px; margin-top: 8vh;"
                  onclick="mouse('<%= element.tripId %>')"
                >
                  行程詳情
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

    <div w3-include-HTML="./footer/footer.html" class="mt-5"></div>
    <script>
      w3.includeHTML();
    </script>
    <script>
      function Apple() {
        console.log("123");
        location.href = "/createTrip";
      }
      function mouse(id) {
        location.href = `/tripInfo?id=${id}`;
      }

      function ABC() {
        var getDate = $("#dateDay").val();
        location.href = `/tripsDate?id=${getDate}`;
      }

      // var dateControl = document.querySelector('input[type="date"]');
      // console.log(dateControl);
    </script>
    <script src="./nav/nav.js"></script>
  </body>
</html>
